<!-- <p>
  campaigns works!
</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="pad-left-0">
      <div class="side-navi">
        <div class="img-align text-center">
          <img src="../../assets/logo.png">
        </div>
        <nav>

          <div class="collapse navbar-collapse navbar-ex1-collapse slide-bar">
            <ul class="nav navbar-nav side-nav">
              <li>
                <a routerLink="/camp/dash" routerLinkActive="Active">             
                  <span class="material-icons">dashboard</span> Dashboard</a>

              </li>
              <li>
                <a routerLink="/camp/compaign">
                  <span class="material-icons">photo_library</span> Compaign</a>

              </li>
              <li>
                <a routerLink="/camp/brand">
                  <span class="material-icons">local_library</span> Brand Info</a>
              </li>
              <li>
                <a routerLink="/camp/wallet">
                  <span class="material-icons">account_balance_wallet</span> Wallet</a>
              </li>
              <li>
                <a routerLink="/camp/coupon">
                  <span class="material-icons">card_giftcard</span> Coupons</a>
              </li>

              <li>
                <a routerLink="/camp/notify">
                  <span class="material-icons">notifications_none</span> Notifications</a>
              </li>

              <li>
                <a routerLink="/camp/works">
                  <span class="material-icons">help</span> How It works</a>
              </li>

              <li>
                <a routerLink="/auth/signup">
                  <span class="material-icons">power_settings_new</span> Log Out</a>
              </li>

            </ul>
                <div class="img-align text-center">
                  <img src="../../assets/img2.png">
                </div>
          </div>
        </nav>
      </div>

    </div>

    <div class="pad-left-0 bg-color">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>

