<!-- <p>
  today works!
</p> -->


<div class="col-sm-12 today-sec pad-0">
  <div class="col-sm-6">

    <mat-card class="first-card-top">
      <mat-card-header>
        <mat-card-title>Reach</mat-card-title>
      </mat-card-header>
      
      <h4>45 <span>14k</span></h4>
      <h6>posts <span class="span1"> click</span></h6>
      
    </mat-card>
    
    <mat-card class="first-card-bottom">
      <mat-card-header>
        <mat-card-title>Campaigns</mat-card-title>
      </mat-card-header>
      
      <h4>45 <span>$45</span></h4>
      <h6>Active<span class="span1"> Spend </span></h6>
           
      </mat-card>

  </div>
  <div class="col-sm-6 pad-0">
    <mat-card>

      <img src="../../../../assets/mg3.png" style="width: 104%;">
    </mat-card>

  </div>
</div>