<!-- <p>
  dashboard works!
</p> -->
<section>
  <div class="card dash-align">
    <h4>Dashboard</h4>

    <div class="col">
      <div class="col-sm-12 group-mat">
        <mat-tab-group animationDuration="0ms" class="content-label">
          <mat-tab label="Today">
            <div class="container-fluid">

              <app-today></app-today>
            </div>

          </mat-tab>
          <mat-tab label="This week">
            <!-- <app-this-week></app-this-week> -->
          </mat-tab>
          <mat-tab label="This Month">
            <!-- <app-this-month></app-this-month> -->
          </mat-tab>
          <mat-tab label="Total">
            <!-- <app-total></app-total> -->

          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="po-top">
        <button class="btn btn-primary camp-btn">CREATE CAMPAIGN</button>
      </div>
    </div>
  </div>
</section>