
h4{
    padding: 12px 30px;
    font-family: inherit;
}
.group-mat{
    margin-top: 22px;
}
.camp-btn{
    
    border-radius: 20px;
    font-size: x-small;
    padding: 10px;
    width: 140px;
    background: #634da3;
    margin: 22px;
    
   
}
.content-label{
    font-size: smaller;

}


