<!-- <p>
  active works!
</p> -->
<div class="col-sm-12 pad-0" style="margin-top: 16px;">
  <div class="col-sm-6">

    <mat-card>

      <h6>Nike!!! Post it and earn it! </h6>
      <i class="fa fa-exclamation-triangle" style="color: red">
        <div class="bud-text">Budget 234$</div>
      </i>
      <div class="a">
        March 12, 2020.March 13, 2020
        <mat-progress-bar class="prog-bar-1" mode="determinate" color="warn" value="75"></mat-progress-bar>
      </div>

      <div class="text-icons">
          <div class="post">
              Posts Click Media Type
              
            </div>
            <div class="vedio">
              123 34 Vedio Specific
            </div>
            <div class="social-media-icons">
              <img src="../../../../assets/fb.jpg" class="fb">
              <img src="../../../../assets/ing5.jpg" class="tiktok-img">
              <img src="../../../../assets/insta.jpg" class="insta">
              <!-- <i class="fa fa-instagram"></i>
              <i class="fa fa-tiktok"></i> -->
            </div>
      </div>
    </mat-card>

    <mat-card class="card-2-mat">

      <h6>Lorem ipsum </h6>
      <!-- <i class="fa fa-exclamation-triangle" style="color: red"> -->
        <div class="bud-text1">Budget 234$</div>
      <!-- </i> -->
      <div class="a">
        March 12, 2020.March 13, 2020
        <mat-progress-bar class="prog-bar-1" mode="determinate" color="primary" value="30"></mat-progress-bar>
      </div>

      <div class="text-icons">
          <div class="post">
              Posts Click Media Type
              
            </div>
            <div class="vedio">
              123 34 Vedio Specific
            </div>
            <div class="social-media-icons">
              <img src="../../../../assets/fb.jpg" class="fb">
              <img src="../../../../assets/ing5.jpg" class="tiktok-img">
              <img src="../../../../assets/insta.jpg" class="insta">
              <!-- <i class="fa fa-instagram"></i>
              <i class="fa fa-tiktok"></i> -->
            </div>
      </div>
    </mat-card>

    <mat-card class="card-2-mat">

      <h6>Lorem ipsum </h6>
      <!-- <i class="fa fa-exclamation-triangle" style="color: red"> -->
        <div class="bud-text1">Budget 234$</div>
      <!-- </i> -->
      <div class="a">
        March 12, 2020.March 13, 2020
        <mat-progress-bar class="prog-bar-1" mode="determinate" color="primary" value="80"></mat-progress-bar>
      </div>

      <div class="text-icons">
          <div class="post">
              Posts Click Media Type
              
            </div>
            <div class="vedio">
              123 34 Vedio Specific
            </div>
            <div class="social-media-icons">
              <img src="../../../../assets/fb.jpg" class="fb">
              <img src="../../../../assets/ing5.jpg" class="tiktok-img">
              <img src="../../../../assets/insta.jpg" class="insta">
              <!-- <i class="fa fa-instagram"></i>
              <i class="fa fa-tiktok"></i> -->
            </div>
      </div>
    </mat-card>
    <mat-card class="card-2-mat">

      <h6>Lorem ipsum </h6>
      <!-- <i class="fa fa-exclamation-triangle" style="color: red"> -->
        <div class="bud-text1">Budget 234$</div>
      <!-- </i> -->
      <div class="a">
        March 12, 2020.March 13, 2020
        <mat-progress-bar class="prog-bar-1" mode="determinate" color="primary" value="20"></mat-progress-bar>
      </div>

      <div class="text-icons">
          <div class="post">
              Posts Click Media Type
              
            </div>
            <div class="vedio">
              123 34 Vedio Specific
            </div>
            <div class="social-media-icons">
              <img src="../../../../assets/fb.jpg" class="fb">
              <img src="../../../../assets/ing5.jpg" class="tiktok-img">
              <img src="../../../../assets/insta.jpg" class="insta">
              <!-- <i class="fa fa-instagram"></i>
              <i class="fa fa-tiktok"></i> -->
            </div>
      </div>
    </mat-card>

  </div>
  <div class="col-sm-6 pad-0 ">

    <mat-card>
      <mat-card-title>
        <div class="title-btn">
          <button class="btn btn-primary end-btn">END CAMPAIGN</button>
        </div>
        <div class="title-mat">
          <h6>Nike!!! Post it and earn it </h6>
          <h5>Total Posts &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;Total
            Clicks</h5>
          <h4>123 &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
            2000000
          </h4>
        </div>

      </mat-card-title>
      <div class="mat-cad">
        <mat-card *ngFor="let x of mat_cad;let i=index" class="mr-bt">
          <p>{{i+1}} {{x}}
            <span>1k</span>
          </p>

        </mat-card>

      </div>
    </mat-card>

  </div>
</div>