<!-- <p>
  contact-info works!
</p> -->
<div class="card form-card">
    <div class="form-fields">
        <div>
            <mat-form-field appearance="fill" class="example-full-width">
                <input matInput placeholder="Brand Name" value="Steam">
              </mat-form-field>
              
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput placeholder="Brand legal Name" value="Steam Inc">
              </mat-form-field>
    
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput placeholder="Category" value="Gaming">
              </mat-form-field>
        </div>
    
    
      </div>
      <div class="second-field">
          <mat-form-field appearance="fill" class="example-full-width">
          <input matInput placeholder="WebSite" value="www.Steamingin.com">
        </mat-form-field>
    
      </div>
</div>