<!-- <p>
  how works!
</p> -->
<div class="col-sm-12 steps">
  <mat-card class="step1">
    <button class="btn btn-success success-btn">✓ BRAND INFO</button>
<h5>Step1</h5>
<p>
  Finish your acconut setup by uploading your brand info i.e., brand logo,registered name and etc
</p>
  </mat-card>

  <mat-card class="step2">
    <button class="btn btn-primary money-btn">Load Money</button>
<h5>Step2</h5>
<p>
  Load your Clout Cred with minimum of $20,this money can be distributed with mulitiple compaigns.
</p>
  </mat-card>

  <mat-card class="step3">
    <button class="btn btn-primary money-btn">CREATE CAMPAIGN</button>
<h5>Step3</h5>
<p>
  Create campaign by choosing campaign Type and setting up a budget for the same<br><br>
  Campaign Type:<br>
  1.Specific:You can ask participants to promote a specific product<br>
  2.General:Participants can choose any product from your e-store.
</p>
  </mat-card>
</div>
