<!-- <p>
  signup works!
</p> -->


<div class="top-right">
    <span>Don't have an account?</span>
      <button class="btn btn-primary btn-xs butn-align">Get Started</button>
  </div>

  <div class="details">
      <p>
        Sign up with <span style="color:blueviolet">CLOUTCRED</span>
       </p>
      <h6>Let's get your Account setup.it will take you a minute</h6>
  </div>

<form class="form-align">
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Your officail Email</mat-label>
      <input matInput>
    </mat-form-field>
  </p>

  <p>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Your Name</mat-label>
        <input matInput>
      </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="fill" class="field">
          <mat-label>State/Brand</mat-label>
          <input matInput>
        </mat-form-field>
      </p>
  

  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Set Password</mat-label>
      <input matInput>
    </mat-form-field>
  </p>


<button class="btn btn-outline-primary login-btn">Sign up</button>
</form>