<!-- <p>
  reset-password works!
</p> -->

<h4>Create a new Password</h4>

<form class="form-align">
    <p>
        <mat-form-field appearance="fill" class="field">
          <mat-label>New Password</mat-label>
          <input matInput>
        </mat-form-field>
      </p>

      <p>
          <mat-form-field appearance="fill" class="field">
            <mat-label>Confirm Password</mat-label>
            <input matInput>
          </mat-form-field>
        </p>

        <button class="btn btn-outline-primary signup-btn" (click)="login()">Sign up</button>
</form>