.field{
    width: 500px;
    
}
.signup-btn{
    margin-top: 15px;
    margin-left: 185px;
    border-radius: 20px;
    width: 100px;
    background-color: rgba(179, 91, 219, 0.219);
    color: white;
    font-size: smaller ;
    height: 40px

}
h4{
    margin-top: 223px;
    font-family: sans-serif;
}
.form-align{
    margin-top: 40px;
}