<!-- <p>
  newregister works!
</p> -->
<div class="card-box">
  <div class="col-sm-4">
    <div class="container-fluid">
      <h2>Enter the credentials</h2>
      <form>
        
          <div class="form-group"> 
            <div class="fields">
            <div *ngFor="let register of registerData ; let i=index">
                <input type="text" class="form-control textfield">
                <div class="field">
                    <button *ngIf="show" class="btn btn-primary btn-xs button-align" (click)="add()">+</button>
                    <label for="">&nbsp;</label>
                    <label for="">&nbsp;</label>
                    <button class="btn btn-primary btn-xs button-align" (click)="delete(i)">-</button>
                  </div>
              </div>
              </div>
          </div>

          <!-- <div class="form-group">
            
            <input type="text" formControlName="Name" class="form-control field">
            <button class="btn btn-primary btn-xs button-align">+</button>
            <label for="">&nbsp;</label>
            <label for="">&nbsp;</label>
            <button class="btn btn-primary btn-xs button-align">-</button>
          </div>
           -->
          <!-- <div class="form-group">
            <button class="btn btn-primary" type="submit">submit</button> 
          </div>   -->
            
          
      
      </form>
    </div>
  </div>
</div>

<!-- <div>
    <div *ngFor="let register of registerData ; let i=index">
        <input type="text" class="form-control">
      </div>
      <button class="btn btn-primary btn-xs button-align" (click)="newField()">Add</button>
</div> -->