<!-- <p>
  how-it-works works!
</p> -->
<section>
  <div class="card dash-align">
    <h4>Promoting your Brand with
      <span>Clout Cred</span>
    </h4>

    <div class="col">
      <div class="col-sm-12 group-mat">
        <mat-tab-group animationDuration="0ms" class="content-label">

          <mat-tab label="How It Works">
            <div class="container-fluid">
              <app-how></app-how>
            </div>

          </mat-tab>



        </mat-tab-group>
      </div>

      <!-- <div class="po-top">
            <button class="btn btn-primary camp-btn">LOAD MONEY</button>
          </div> -->
    </div>
  </div>
</section>