<!-- <p>
  australia works!
</p> -->
<!-- <div class="col-sm-3">
  <form #newRegistration="ngForm" class="form-horizontal">
    <h2>Registration</h2>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="First name" 
            name="firstName" #firstName="ngModel" [(ngModel)]="model.firstName" required>

            <div *ngIf="newRegistration.submitted && name.invalid">
              <div>This field is required</div>
            </div>
        </div>

          <div class="form-group">
              <input type="text" class="form-control" placeholder="Second name" 
              name="secondName" #secondName="ngModel" [(ngModel)]="model.secondName" required>

              <div *ngIf="newRegistration.submitted && name.invalid">
                <div>This field is required</div>
              </div>
          </div> 
      
              <div class="form-group">
                <select class="form-control" placeholder="Location" 
                name="country" #country="ngModel" [(ngModel)]="model.country" required>
                <option  selected="">Australia</option>
                <option>Fiji</option>
                <option>Marshal Islands</option>
                <option>Naura</option>
                <option>Palau</option>
                <option>Samoa</option>
                <option>Tonga</option>
                <div *ngIf="newRegistration.submitted && name.invalid">
                  <div>This field is required</div>
                </div>
              </div>
      
            <div class="form-group">
                <input type="email" class="form-control" placeholder="mail Id" 
                name="email" #email="ngModel" [(ngModel)]="model.email" required>
                <div *ngIf="newRegistration.submitted && name.invalid">
                  <div>This field is required</div>
                </div>
              </div>
            
              <div class="form-group">
                    <input type="password" class="form-control" placeholder="password" 
                    name="password" #password="ngModel" [(ngModel)]="model.password" required>
                  <div *ngIf="newRegistration.submitted && name.invalid">
                      <div>
                        This field is required
                      </div>
                  </div>
               </div>
      
               <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirm password" 
                  name="cPassword" #cPassword="ngModel" [(ngModel)]="model.cPassword" required>
                  <div *ngIf="newRegistration.submitted && name.invalid">
                    <div>This field is required</div>
                  </div>
             </div>
      
             <div class="form-group">
                <input type="date" class="form-control" placeholder="Date of Birth" 
                name="dob" #dob="ngModel" [(ngModel)]="model.dob" required>
                <div *ngIf="newRegistration.submitted && name.invalid">
                  <div>This field is required</div>
                </div>
           </div>  
 
           <button class="btn btn-primary" (click)="submit()" >
            submit
          </button>
    

 </form>
</div>  -->





<!-- <div class="col-sm-4">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="model.name" required>
          <div *ngIf="f.submitted && name.invalid">
            <div *ngIf="f.errors.required">This field is required</div>
          </div>  
        </div>
    
        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
          <input type="text" class="form-control" name="fname" #fname="ngModel" [(ngModel)]="model.fname" >
          <div *ngIf="f.submitted && fname.invalid">
            <div *ngIf="f.errors.required">This field is required</div>
          </div>
        </div>
    
       
        <button class="btn btn-primary" (click)="Submit()" [disabled]="!f.form.valid">
          submit
        </button>
      </form>
</div> -->

<div class="card-box">
  <div class="col-sm-4">
    <div class="container-fluid">
      <h2>Registration Form</h2> 
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        
        <!-- {{userForm.value | json}}
        <hr /> 
        {{userModel | json}} -->
         
        <!-- {{userForm.form.valid}} -->

        <div class="form-group">
          <label>First Name</label>
          <input type="text" required #fname="ngModel"  class="form-control" name="fname"
            [(ngModel)]="userModel.fname">
            <div [hidden]="fname.valid || fname.pristine" class="alert alert-danger"></div>
        </div>
        <!-- {{name.pristine}} -->

        <div class="form-group">
          <label>Second Name</label>
          <input type="text" required #sname ="ngModel" class="form-control" name="sname" 
          [(ngModel)]="userModel.sname">
          <div [hidden]="sname.valid || sname.pristine" class="alert alert-danger"></div>
        </div>

        <div class="form-group">
          <label>Date of Birth</label>
          <input type="date" required #date="ngModel" class="form-control" name="date" 
           [(ngModel)]="userModel.date">
           <div [hidden]="date.valid || date.pristine" class="alert alert-danger"></div>
          </div>

        <div class="form-group">
          <select class="custom-select form-control" required
           #a="ngModel" name="a" [(ngModel)]="userModel.a">
            <option value="">I'm interested in </option>
            <option *ngFor="let a of topics">{{ a }}</option>
          </select>
          <div [hidden]="a.valid || a.untouched" class="alert alert-danger">
            Choose any course
          </div>
        </div>

        <div class="form-group">
          <label>email</label>
          <input type="text" required #email="ngModel" class="form-control" name="email" 
          [(ngModel)]="userModel.email">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger"></div>
        </div>

        <div class="form-group">
          <label>Contact Number</label>
          <input type="text" maxlength="10" required #phonenumber="ngModel" class="form-control" name="phonenumber" 
          [(ngModel)]="userModel.phonenumber">
          <div [hidden]="phonenumber.valid || phonenumber.pristine" class="alert alert-danger">
            This fiels is required
          </div>
        </div>

        <div class="mb-3">
          <label>Timings</label>
          <div class="form-check">
            <input class="form-check-input" required #timings="ngModel" 
            [(ngModel)]="userModel.timings" type="radio" name="timings" value="morning">
            <label class="form-check-label">morning: 9Am to 12PM</label>
            
          </div>

          <div class="form-check">
            <input class="form-check-input" required #timings="ngModel" 
            [(ngModel)]="userModel.timings" type="radio" name="timings" value="Evening">
            <label class="form-check-label">Evening: 6Pm to 9PM</label>
            
          </div>
        </div>

        <div class="form-check mb-3">
          <input class="form-check-input" name="tc" required #tc="ngModel" 
          [(ngModel)]="userModel.tc" type="checkbox">
          <label class="form-check-label">Terms & Conditions</label>
          
        </div>

        <button class="btn btn-primary" [disabled]="userForm.form.invalid "  type="submit">Submit </button>
        <!-- <button type="button" class="btn btn-default" (click)="newUser():userForm.reset()">New User</button> -->
        

      </form>

<!--       
      <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>

        <div class="row">
          <div class="col-xs-3"> First Name</div>
          <div class="col-xs-9">{{ model.fname }}</div>
        </div>

        <div class="row">
          <div class="col-xs-3">Second Name</div>
          <div class="col-xs-9">{{ model.sname }}</div>
        </div>

        <div class="row">
          <div class="col-xs-3">Date</div>
          <div class="col-xs-9">{{ model.date }}</div>
        </div>

        <div class="row">
          <div class="col-xs-3">topics</div>
          <div class="col-xs-9">{{ model.a }}</div>
        </div>

        <div class="row">  
          <div class="col-xs-3">email</div>
          <div class="col-xs-9">{{ model.email }}</div>
        </div>

        <div class="row">
          <div class="col-xs-3">phonenumber</div>
          <div class="col-xs-9">{{ model.phonenumber }}</div>
        </div>

        <br>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      </div>
    </div>       -->


    </div>

  </div>
</div> 