<!-- <p>
  brand-info works!
</p> -->
<!-- <section>

  <div class="camp-header">
    <h4>Campaigns</h4>
    <div>



      <mat-tab-group class="mat-tab-header">
        <mat-tab label="BRAND-INFO" class="mat-tab-label">

          <div class="img-bg-color">

              <div class="example-box" cdkDrag>
                <div>
                  <img src="../../../assets/logo1.png" class="img-align">
                </div>
                  
                </div>

            <div class="form-bg">
              <div class="col-sm-12 field-center">
                <div>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Brand Name" value="Steam">
                  </mat-form-field>
                  
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Brand legal Name" value="Steam Inc">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Category" value="Gaming">
                  </mat-form-field>

                </div>

                <div>
                  <mat-form-field class="example-full-width width-full">
                    <input matInput placeholder="WebSite" value="www.Steamingin.com">
                  </mat-form-field>
                </div>

              </div>

            </div>
          </div>

        </mat-tab>
        <mat-tab label="CONTACT INFO" class="mat-tab-label">
          <div class="form-bg">
            <div class="col-sm-12 field-center">
              <div>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>

              </div>

            </div>

          </div>
        </mat-tab>

        <mat-tab label="CHANGE PASSWORD" class="mat-tab-label"> </mat-tab>
      </mat-tab-group>


        <button class="btn btn-primary btn-right">Edit Info</button>
      



    </div>

  </div>
</section> -->

<!-- <p>
  dashboard works!
</p> -->

<section>
    <div class="card dash-align">
      <h4>Campaigns</h4>
  
      <div class="col">
        <div class="col-sm-12 group-mat">
          <mat-tab-group animationDuration="0ms" class="content-label">
            <mat-tab label="Brand-Info">
              <div class="container-fluid">
                <app-things></app-things>
               
              </div>
  
            </mat-tab>
            <mat-tab label="Contact-Info">
              <app-contact-info></app-contact-info>
            </mat-tab>
            <mat-tab label="This Month">
              <app-change-password></app-change-password>
            </mat-tab>
           
          </mat-tab-group>
        </div>
        <div class="po-top">
          <button class="btn btn-primary camp-btn">Edit Info</button>
        </div>
      </div>
    </div>
  </section>
  <!-- <img src="../../../../assets/logo1.png" class="img-bg"> -->